* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	display: flex;
	justify-content: center;

}


.main {
	position: relative;
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;
	background: #fff;
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.15) 0 0 15px;
	padding: 40px;
	z-index: 1;
}

.background-image {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	z-index: 0;
}

.background-image::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50%;
	background-image: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
	pointer-events: none;
}


.nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 150px;
	align-items: center;
}



.name {
	width: 68%;
	height: 100%;
	display: flex;
	justify-content: start;
	align-items: center;
	font-size: 32px;
	font-weight: 700;
	color: #00bc5b;
	margin-right: 2%;
}

.introduction {
	width: 28%;
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
	flex-direction: column;
	height: 100%;
	text-indent: 10px;
	margin-left: 2%;

}

.introduction a {
	text-decoration: none;
	color: #565656;
	font-size: 15px;

}

.hr {
	width: 100%;
	height: 1.5px;
	background: #eeeeee;
	margin: 20px 0;
}

.hr2 {
	width: 1.5px;
	height: 85%;
	background: #eeeeee;
}

.personal-information {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}

.personal-information-image {
	width: 15%;
	margin-right: 3%;
	margin-left: 3%;
}

.personal-information-image img {
	width: 100%;
	border-radius: 10%;
	/*box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;*/
}

.personal-information-content {
	width: calc(100% - 11% - 2%);
	line-height: 1.55;
	font-size: 14px;
	color: #565656;
	letter-spacing: 1.3px;
	text-indent: 2em;
}

.box {
	width: 100%;
	display: flex;
	justify-content: space-between;

}

.box-left {
	width: 68%;
	display: flex;
	flex-direction: column;
	margin-right: 2%;
}

.box-right {
	width: 28%;
	margin-left: 2%;
	display: flex;
	flex-direction: column;
}

.box-left-item,
.box-right-item {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 15px;
}

.box-title {
	border-left: 5.5px #00bc5b solid;
	text-indent: 12px;
	font-size: 18px;
	font-weight: 600;
}

.box-subtitle {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.box-left-item>div {
	padding: 5px 0;
	margin: 8px 0;
}

.box-subtitle-text {
	font-size: 16px;
	font-weight: 600;
	color: #343434;
}

.box-subtitle-date {
	font-size: 14px;
	color: #565656;
}

.box-content {
	font-size: 14px;
	line-height: 1.55;
	letter-spacing: 1.33px;
	text-indent: 2em;
}

.box-content-noindent {
	font-size: 14px;
	line-height: 1.55;
	letter-spacing: 1.33px;
}

.hr3 {
	width: 1.5px;
	height: 100%;
	background: #eeeeee;
}

.box-right-item>div {
	padding: 2px 0;
	margin: 3px 0;
}

.box-content-list {
	margin-left: 40px;
}

input[type="text"],
input[type="email"],
textarea {
	width: 100%;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 15px;
	border: 2px solid #cccccc;
	border-radius: 5px;
	font-size: 14px;
}

input[type="submit"] {
	background-color: #008CBA;
	color: #ffffff;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #0077B3;
}

.none-resize {
	resize: none;
}
